<h2>生成された画像の確認</h2>
<div>
  <!-- 生成した画像の確認用の画像の表示 -->
  <%= image_tag @tweet.image_url, width: '315' %>
</div>

<!-- Twitter投稿へのリンク-->
<a href="https://twitter.com/share?url=https://evening-shore-25523.herokuapp.com/tweet/<%= @tweet.id %>&hashtags=Glitter" target="_blank" class="square_btn" data-show-count="false">Twitter投稿へ</a>

<div>
  <%= link_to "トップページへ", root_path %>
</div>